  <footer>
        <div class="container" class="bg-white">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-8">
                    <ul class="list-inline quicklinks">
                        <li>We don't collect any information.
                        </li>
                        <li><a href="https://help.github.com/en/articles/github-privacy-statement#github-pages" target="_blank">However, this site is hosted with GitHub Pages, see their policy for more information.</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
