<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">I print shirts</h2>
                    <h3 class="section-subheading text-muted">It's what I do. (sometimes)</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tshirt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Both Sides</h4>
                    <p class="text-muted">I can print on front, back, or both.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-sort-amount-up">\f161</i>
                    </span>
                    <h4 class="service-heading">Any Size Order</h4>
                    <p class="text-muted">I do orders of any size from 1 shirt to a few hundred.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-palette fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Wide Range of Colors</h4>
                    <p class="text-muted">I can print in any color you want.</p>
                </div>
            </div>
        </div>
    </section>