{% include css/bootstrap.min.css %}
{% include css/agency.css %}
{{ content }}

.fullscreen-bg {
  z-index: -1;
  position: absolute;
  overflow: hidden;
  height: 100%;
}

.fullscreen-bg__video {
  position: fixed;
  left: 0;
  min-width: 100vw;
  overflow: hidden;
}

header>div.container {
  z-index: 1;
}

.bg-white {
  background-color: white;
}

.img_profile {
  max-width: 75%
}
