{% include css/bootstrap.min.css %}
{% include css/agency.css %}
{{ content }}

.fullscreen-bg {
  position: absolute;
  overflow: hidden;
  z-index: 0;
}

.fullscreen-bg__video {
  width: 100vw;
}

header>div.container {
  z-index: 1;
}
